/********************** GENERAL CHART STYLING **********************/

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #e6dfd9;
    -fx-stroke-dash-array: 2px, 2px;
}

.chart-bar {
    -fx-background-insets: 0;
}

/* LEGEND STYLE */

.chart-legend {
   -fx-background-color: transparent;
}

.chart-legend-item {
    -fx-text-fill: #000000;
    -fx-font-family: "Aptos Mono";
    -fx-font-size: 12px;
}

/* AXIS STYLE */
.axis .axis-label {
    -fx-text-fill: #000000;         
    -fx-font-family: "Aptos Mono"; 
    -fx-font-size: 12px;             
}

.axis .tick-label {
    -fx-text-fill: #000000;      
    -fx-font-family: "Aptos Mono";  
    -fx-font-size: 10px;       
}

/* MAIN TITLE STYLE */
.chart-title {
    -fx-text-fill: #000000;  
    -fx-font-family: "Aptos Mono"; 
    -fx-font-size: 18px;     
    -fx-padding: 0 0 10px 0;  
}

/* DATA SERIES COLOURS */

.default-color0.chart-bar {
    -fx-bar-fill: #575279; 
}
.default-color0.chart-legend-item-symbol {
    -fx-background-color: #575279;
}

.default-color1.chart-bar {
    -fx-bar-fill: #d7827a; 
}
.default-color1.chart-legend-item-symbol {
    -fx-background-color:  #d7827a;
}

.default-color2.chart-bar {
    -fx-bar-fill: #a8cdd8; 
}
.default-color2.chart-legend-item-symbol {
    -fx-background-color:  #a8cdd8;
}

/********************** STYLING FOR SPECIFIC CHARTS **********************/